html {
    font-family:system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
body {
    width: 100%;
    height: 100%;
    word-break: break-word;
}

h1, h2, h3 {
    text-wrap: balance;
}

p cite {
    font-size: 10px;
    text-align: right;
    display: block;
}

@media (max-width: 1036px) {
  #panel {
      min-width: 100%;
  }
}

#bookPadding a:active {
    outline-width: 0;
}

section {
    line-height: 1.7;
    font-size: 24px;
    font-weight: 300;
    margin-top: 40px;
}

section.sub,
section.sub p {
    line-height: 1.7;
    font-size: 25px;
    margin-top: 100px;
    padding-bottom: 10px;
    font-weight: 300;
    margin-top: 40px;
}

h1 {
    margin-bottom: 20px;
    margin-top: 80px;
    font-size: 50px;
    line-height: 65px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    margin-top: 100px;
    padding-bottom: 20px;
    line-height: 1.2;
    border-bottom: 1px solid #ececec;
}

h3 {
    font-size: 25px;
    margin-top: 100px;
    padding-bottom: 10px;
    line-height: 1.2;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
    line-height: 1.2;
    font-weight: bold;
}

#menu h3 {
    font-size: 26px;
    padding: 20px 20px 0 20px;
    line-height: 1.2;
    font-weight: bold;
    margin: 0px;
}

p {
    margin-top: 30px;
    font-size: var(--font-size-base);
    line-height: 1.7;
}

ul {
    margin: 20px 0 20px 40px;
    list-style: initial;
}

ol {
    margin: 20px 0 20px 40px;
}

ol li,
ul li {
    margin: 20px 0 0 0;
    line-height: 1.7;
}


hr {
    border: none;
    height: 20px;
    margin: 75px 0 75px 0;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 356px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
    background: linear-gradient(90deg, #1f1f1f 0.04%, #101010 100%);
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    /* A background-color is required */
    min-height: 100vh;
}

#bookPadding {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding: 0 5%;
    overflow: hidden;
}

.slideout-open .slideout-panel {
    margin-right: 356px;
}

.slideout-open .slideout-menu {
    display: block;
}

#menuButton {
    background: radial-gradient(closest-side, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    cursor: pointer;
    position: sticky;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 2;
}

#toc {
    padding: 20px 20px;
    font-size: 18px;
}



#toc h6 {
    margin-left: 10px;
    margin: 10px 0 0 10px;
    line-height: 1.8em;
}

#toc h5 {
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.6em;
    font-size: 14pt;
}

p+div.code-toolbar {
    margin-top: 30px;
}

.codesandboxlink,
.codesandboxlinkNotDynamic {
    font-size: 10px;
    margin-top: 15px;
    text-align: right;
    margin-right: 10px;
}

#panel .codesandboxlink a:link,
#panel .codesandboxlinkNotDynamic a:link {
    padding: 0 4px;
}

#panel .codesandboxlink a:active,
#panel .codesandboxlinkNotDynamic a:active {
    outline-width: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 30px 0 0 0;
}

th,
td {
    line-height: 130%;
    padding: 0.5rem;
    text-align: left;
}

/* Print styles */
@media print {
    body {
        padding: 12pt;
    }

    hr {
        margin: 20pt 0;
    }

    #menuButton {
        display: none;
    }

    .slideout-menu {
        overflow-y: hidden;
        position: static;
        width: auto;
    }

    .slideout-open .slideout-panel {
        margin: 0;
        transform: none !important;
    }

    #bookPadding {
        margin: 0;
        max-width: none;
        padding: 0;
        width: auto;
    }

    #bookPadding img {
        display: block;
        margin: 0 auto;
    }
}

.FmCta {
    align-items: flex-start;
    display: flex;
    gap: 15px;
    line-height: 2;
    padding: 10px 15px;
    position: relative;
    z-index: 10;
}

.FmCtaLogo svg {
    vertical-align: middle;
    width: 25px;
}

.FmCtaText {
    display: flex;
    flex: 1;
    gap: 15px;
}

.FmCtaText a {
    font-weight: bold;
}

.FmCtaClose {
    background: none;
    border: none;
    font-size: 25px;
    height: 30px;
    line-height: 1;
    outline: none;
    padding-bottom: 5px;
    width: 30px;
}

/*** light theme ***/

th,
td {
    border: 1px solid #ccc;
}

#bookPadding a:link {
    background-color: #fdefe8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #1a1a1a;
}

#bookPadding a:hover {
    background-color: #fcdcce;
    border-bottom-color: #1a1a1a;
}

section {
    color: #6d6d6d;
}

h1 {
    color: #282c34;
}

code {
    background: rgba(255, 229, 100, 0.2);
    color: #1a1a1a;
}


hr {
    background-color: #ececec;
}

.slideout-panel {
    background-color: #fff;
}

#toc a:focus,
#toc a:hover {
    background-color: #000000;
    border-bottom-color: #fff;
    text-decoration: underline;
}

#toc a:link,
#toc a:active,
#toc a:visited {
    color: #e7e7e7;
}

#panel .codesandboxlink a:link,
#panel .codesandboxlinkNotDynamic a:link {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #1a1a1a;
}

#panel .codesandboxlink a:hover,
#panel .codesandboxlinkNotDynamic a:hover {
    background-color: #bbeffd;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.FmCtaText a {
    color: #ccc;
}

.FmCtaText a:hover {
    color: #fff;
}

.FmCta {
    background: #000;
    color: #fff;
}

.FmCtaLogo svg {
    fill: #c02d28;
}

.FmCtaLogo:hover svg {
    fill: #dd625e;
}

.FmCtaClose {
    color: #888;
}

.FmCtaClose:hover {
    color: #fff;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

/*** DARK theme ***/

:root {
    --font-size-base: clamp(1rem, .2vw + 1rem, 1.2rem);
    --gray-lightest: #e6e6e6;
    --link: #fc706b;
    --link-hover: #e58480;
    --link-visited: #fc706b;
    --background: #151515;
    --background-light: #545454;
    --body-text: var(--gray-lightest);
}

.dark th,
.dark td {
    border: 1px solid var(--background-light);
}

.dark body {
    background-color: var(--background);
    color: var(--gray-lightest);
    font-size: var(--font-size-base);
    line-height: 1.7;
}

.dark #bookPadding a:link {
    background-color: var(--background);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: var(--link);
}

.dark #bookPadding a:hover {
    color: var(--link-hover);
    background-color: black;
    background-color: black;
}

.dark #bookPadding a:visited {
    color: var(--link-visited);
}

.dark section {
    color: var(--body-text);
}

.dark h1 {
    color: var(--gray-lightest);
}

.dark code {
    background: black;
    color: white;
    padding: 3px 5px;
}

.dark hr {
    background-color: #ececec;
}

.dark .slideout-panel {
    background-color: var(--background);
}

.dark #toc a:focus,
.dark #toc a:hover {
    background-color: var(--background);
    border-bottom-color: #fff;
    text-decoration: underline;
}

.dark #toc a:link,
.dark #toc a:active,
.dark #toc a:visited {
    color: var(--gray-lightest);
}

.dark #panel .codesandboxlink a:link,
.dark #panel .codesandboxlinkNotDynamic a:link {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #1a1a1a;
}

.dark #panel .codesandboxlink a:hover,
.dark #panel .codesandboxlinkNotDynamic a:hover {
    background-color: #bbeffd;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.dark .FmCtaText a {
    color: #ccc;
}

.dark .FmCtaText a:hover {
    color: #fff;
}

.dark .FmCta {
    background: #000;
    color: #fff;
}

.dark .FmCtaLogo svg {
    fill: #c02d28;
}

.dark .FmCtaLogo:hover svg {
    fill: #dd625e;
}

.dark .FmCtaClose {
    color: #888;
}

.dark .FmCtaClose:hover {
    color: #fff;
}

.dark tbody tr:nth-child(odd) {
    background: black;
}