/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c02d28;
  --ifm-color-primary-dark: #ad2824;
  --ifm-color-primary-darker: #a32622;
  --ifm-color-primary-darkest: #861f1c;
  --ifm-color-primary-light: #d3322c;
  --ifm-color-primary-lighter: #d53b36;
  --ifm-color-primary-lightest: #db5753;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c02d28;
  --ifm-color-primary-dark: #ad2824;
  --ifm-color-primary-darker: #a32622;
  --ifm-color-primary-darkest: #861f1c;
  --ifm-color-primary-light: #d3322c;
  --ifm-color-primary-lighter: #d53b36;
  --ifm-color-primary-lightest: #db5753;
}